@import "~bootstrap/dist/css/bootstrap.min.css";



body{
  .btn-dark{
    //background-color: var(--bs-gray-dark);
    background-color: var(--bs-dark);
    &:hover{
      background-color: #23272b;
    }
  }
}

@media (min-width: 768px) {
  .col-md-6{
    width: 50%!important;
    flex: 0 0 auto;
  }
}

.homepage{
  height: 100vh;
  overflow-y: hidden;
  .content{
    padding: 0 10px 0 10px;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;

  }
  .content.link{
    height: 65vh;
  }
}
.row{
  align-items: flex-start;
}
.dropdown{
  .btn{
    &:focus{
      box-shadow: none;
    }
  }

  button{
    &:nth-child(1){
      padding-right: 0;
      padding-left: 0;
    }
  }
  .dropdown-menu{
    padding: 5px 10px 5px 10px ;
    min-width: 8rem;
  }
  .dropdown-menu.show{
    transform: translate3d(195px, 33px, 0)!important;
  }

  img{
    width: 20px;
  }
  .dropdown-item.active{
    all: initial;
  }

  .dropdown-item:focus{
    all: unset;
  }
  .dropdown-item{
    padding: 4px 0 4px 0;

    &:hover{
      all: unset;
      padding: 4px 0 4px 0;

    }
  }
}
.custom-card{
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--bs-primary);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  transition: all linear 0.5s;
  //p{
  //  white-space: nowrap;
  //  overflow: hidden;
  //  width: 100%;
  //  text-overflow: ellipsis;
  //  height: 2rem;
  //}


  .body{
    display: flex;
    align-items: center;

    img{
      width: 100%;
    }
  }
  .body-link{
    //height: 50px;
    width: 100%;
    //overflow: hidden;

    h5, .infinity-text{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
      font-size: 1rem;
      height: 2rem;
    }
  }

}

.stamp {
  font-weight: 700;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  //border-radius: 1rem;
  font-family: 'Courier', sans-serif;
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: color;
  color: red;
  border: 0.5rem double red;
  transform: rotate(10deg);
  -webkit-mask-position: 2rem 3rem;
  font-size: 2rem;
  user-select: none;
}
.link-navbar{
  position: relative;

  &:after{
    content: '';
    height: 0;
    width: 4px;
    background-color: #f1f1f1;
    transition: all 0.5s linear;
    position: absolute;
    right: -19.85%;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  &:before{
    content: "";
    height: 0;
    width: 4px;
    //background-color: #f61e2e;
    background-color: #f1f1f1;
    transition: all 0.5s linear;
    position: absolute;
    left: -19.85%;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  &:hover, &.active{
    a{color: #f1f1f1}
    &:after{
      height: 100%;
    }
    &:before{
      height: 100%;
    }
  }
}
.bm-menu-wrap{
  border-left: 1px solid var(--bs-primary);
}

.secret-icon{
  position: relative;
  div{
    &:nth-child(1){
      img{
        width: 380px;
        @media (min-width: 576px) {
          width: 200px;
        }
        @media (min-width: 768px) {
          width: 300px;
        }
        @media (min-width: 992px) {
          width: 400px;
        }
        @media (min-width: 1200px) {
          width: 500px;
        }
      }

    }

    &:nth-child(2){
      position: absolute;
      top: 45%;
      left: 45%;
      //background-color: var(--dark);
      background: rgba(233, 233, 233, 0.6);
      //opacity: 0.6;
      box-shadow: 0 0 10px black;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      padding: 10px;
      box-sizing: border-box;
      @media (min-width: 576px) {
        width: 80px;
        height: 80px;
      }
      @media (min-width: 768px) {
        width: 80px;
        height: 80px;
      }
      @media (min-width: 992px) {
        width: 90px;
        height: 90px;
      }
      @media (min-width: 1200px) {
        width: 109px;
        height: 109px;
      }

      img{
        width: 70%;
      }
    }

  }

}

.modal-footer{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card .form-group{
  margin-bottom: 0;
}

.bm-burger-button{
  @media (max-width: 576px) {
    right: 5%!important;
  }
  @media (min-width: 768px) {
    right: 10%!important;
  }
}

.close{
  background-color: transparent;
  border: none;
  span{
    font-size: 1.5rem;
  }

}








@import "theme";