@import "~bootstrap/dist/css/bootstrap.min.css";

body{

}

.homepage{
  height: 100vh;
  overflow-y: hidden;
  .content{
    padding: 0 10px 0 10px;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    .row{
      align-items: flex-start;
    }
    .custom-card{

      width: 100%;
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;
      border-color: var(--primary);
      padding: 10px 20px 10px 20px;
      cursor: pointer;
      transition: all linear 0.5s;
      .body{
        display: flex;
        align-items: center;
      }
      img{
        width: 100%;
      }
    }
  }
}


@import "theme";