//@import "main";

:root{
  --light: aliceblue!important;
}


body{
  @media (prefers-color-scheme: light) {
    color: var(--dark);
    background-color: #f1f1f1;
    //.custom-card{
    //  border-color: var(--dark);
    //}
  }

  
  @media (prefers-color-scheme: dark) {
    color: var(--light);
    background-color: var(--dark)!important;
    .form-control{
      background-color: var(--dark);
      color: aliceblue;
      &:focus{
        background-color: var(--dark);
        color: aliceblue;
      }
      &:disabled{
        background-color: #505050;
        color: aliceblue;
      }
      &::placeholder{
        color: #acacac;
      }
    }
    .card{
      background-color: var(--dark)!important;
      border-color: aliceblue;
      .card-footer{
        border-color: aliceblue;
      }
    }

    .modal-content{
      background-color: var(--dark);
    }
    .custom-card{
      &:hover{
        background-color: #23272b;
        box-shadow: 5px 5px 10px #000;
      }
    }
    &:focus{
      background-color: #23272b;
    }
  }
}




