//@import "main";

:root{
  --light: aliceblue!important;
}


body{
  @media (prefers-color-scheme: light) {
    color: var(--dark);
    background-color: #f1f1f1;
    //::-webkit-scrollbar {
    //  width: 10px;
    //}
    //::-webkit-scrollbar-track {
    //  background: var(--dark);
    //  border: 1px solid #f1f1f1;
    //}
    //::-webkit-scrollbar-thumb {
    //  //background: aliceblue;
    //  border: 3px solid var(--primary);
    //}
    //::-webkit-scrollbar-thumb:active{
    //  background-color: #131920;
    //}
    .custom-card{
      .hover{
        &:hover{
          background-color: #e2e2e2;
          box-shadow: 5px 5px 10px #000;
        }
        &:focus{
          background-color: #e2e2e2;
        }
      }

    }
    .form-control{
      border: 1px solid #ced4da;
    }
    .dropdown-item:hover{
      text-shadow: 2px 2px 3px var(--dark)!important;
    }
  }

  
  @media (prefers-color-scheme: dark) {
    color: var(--light);
    background-color: var(--dark)!important;
    ::-webkit-scrollbar {
      width: 10px;
      border-radius: 2rem;
    }
    ::-webkit-scrollbar-track {
      background: var(--dark);
      border: 1px solid #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      //background: aliceblue;
      border: 3px solid var(--primary);
    }
    ::-webkit-scrollbar-thumb:active{
      background-color: #131920;
    }





    .form-control{
      background-color: var(--dark);
      color: aliceblue;
      border: 1px solid #ced4da;
      &:focus{
        background-color: var(--dark);
        color: aliceblue;
      }

      &:disabled{
        background-color: #505050;
        color: aliceblue;
      }
      &::placeholder{
        color: #acacac;
      }
    }
    .card{
      background-color: var(--dark)!important;
      border-color: aliceblue;
      .card-footer{
        border-color: aliceblue;
      }
    }

    .modal-content{
      background-color: var(--dark);
    }
    .custom-card.hover{
        &:hover{
          background-color: #23272b;
          box-shadow: 5px 5px 10px #000;
        }
    }
    .custom-card.focus{
      &:focus{
        background-color: #23272b;
      }
    }
    .dropdown-item:hover{
      text-shadow: 2px 2px 3px #f1f1f1!important;
    }

  }
}





